@charset "utf-8";

body{
    background-image: url(https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg);
}

.board{
    margin-top: -1.6em;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 15px;
    margin-left: 29.3em;
    color: aqua;
}

.cell{
    background-color: rgb(238, 0, 255);
    border: 3px solid rgb(0, 242, 255);
    align-items: center;
    font-size: 90px;
    cursor: pointer;
    font-family: sans-serif;
    text-align:center;
    padding-top: 20px;
}

h1{
    margin-inline: 450px;
    font-family: cursive;
    text-align: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
    background-color:  rgba(0, 247, 255, 0.766);
    text-shadow: -4px -4px 4px rgb(255, 0, 255);
    margin-top: 20px;

}

footer{
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    background-color: rgba(0, 247, 255, 0.766);
    color: aliceblue;
    padding-top: 30px;
    text-shadow: -4px -4px 4px rgb(255, 0, 255);
    padding-bottom: 30px;
}

@media all and (max-width: 780px){
    h1{
        font-size: 40px;
        margin-inline: 0px;
    }

    footer{
        font-size: 30px;
    }

    .board{
        margin-left: auto;
        grid-template-columns: repeat(3, 115px);
        grid-template-rows: repeat(3, 115px);
        margin-top: 20px;
    }

    .cell{
        padding-top: 5px;
    }
}